export ZDOTDIR=$HOME/.config/zsh
export _JAVA_AWT_WM_NONREPARENTING=1
export DOTNET_ROOT=/usr/share/dotnet
export MSBuildSDKsPath=$DOTNET_ROOT/sdk/$(${DOTNET_ROOT}/dotnet --version)/Sdks
export PATH=${PATH}:${DOTNET_ROOT}
export PATH="$PATH:/home/[[USER_NAME]]/.dotnet/tools"
